/* Shop.CSS */

#shopIntro{
    margin-top:66px;
}

#shopIntro .introText{
    text-align: center;
    padding:50px;
    border-bottom:2px solid white;
    font-size:2em;
}

#shopIntro .row{
    background-image: url(../Kreo10/images/thumbs/barber.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#shopNav ul{
    text-align: center;
}

#shopNav ul li{
    display:inline-block;
}

#store .shop-item{
    margin-top: 20px;
    background: #ffffff;
    border-radius: 12px;
    margin-right: 20px;
    color:black;
    width:30%;
}

.service-content{
    height: 120px;
}